body{

    background-image: url("Milky_Way_Sky_Coast_Night_567500_1920x1080.jpg");
    text-align: center;
}

.p{
    /*background:  grey#380303;*/
    border-radius: 20px;
    text-align: center;
    
    font-size: 30px;
    width: 30%;
    padding: 0px;
}

.h1 {
        font-size: 100px;
        text-align: center;
        padding: 10px;
        margin: 50px;
        margin-bottom: 0px;
        color:#9a27a9;
        text-shadow:#5804f3 3px 0;
       
        }

        .resultado{
            background: white;
            font-size: 30px;
            border-bottom:double ;
            border-top-left-radius: 320px;
            border-top-right-radius: 320px;
            border: solid 20px rgba(1,1,1,0.8);
            border-bottom: 10px rgba(1,1,1,0.7);
            padding: 10px;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 38px;
            height: 30px;
            background-color: rgba(255,255,255,0.5);
            margin-left: auto;
            margin-right: auto;
            width: 450px;
          }
.abajo{
    font-weight: 800;
    font-size: 30px;
    background-color:rgba(1,1,1,0.7);
    padding: 15px;
    border-bottom-left-radius:320px ;
    border-bottom-right-radius:320px;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
}

.butto {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
          