@font-face /* Para poner estilo de lera*/
    {
       font-family: "Saiyan";
       src: url("Saiyan-Sans.ttf");
    }
body{
    color:rgb(0, 0, 0);
    padding: 10px;
    margin: 0px;
    text-align: center;
    background-image: url("goku.jpg");
    }
.h2{

    font-family: "Saiyan";
        font-size: 60px;
        text-align: center;
        background-color: rgba(0, 155, 60, 0.7);
        border: #ff7b00 10px double;
        
        padding: 10px;
        margin: 0px;
        margin-bottom: 0px;
}
.h{/*Con class */
    
        font-family: "Saiyan";
        font-size: 60px;
        text-align: center;
        background-color: rgba(0, 155, 60, 0.7);
        border: #ff7b00 10px double;
        display: inline-flex;
        width: 42%;
       
        justify-content: center;
        padding: 10px;
        margin: 20px;
        margin-bottom: 0px;
        margin-left: 1050px;
        margin-right: 30000px;
     
        
    }
.margen{
    font-size: 22px;
    text-align: center;
    background-color: rgba(0, 155, 60, 0.7);
    border: #ff7b00 10px double;
    
    display: inline-flex;
    width: 42%;
    
    justify-content: center;
    padding: 10px;
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 1050px;
    margin-right: 1800px;

 
/* 
    padding: 10px;
    display: inline-flex;
    width: 95%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center; */


}

.p{
    
    font-size: 22px;
    text-align: center;
    background-color: rgba(0, 155, 60, 0.7);
    border: #ff7b00 10px double;
    
    display: inline-flex;
    width: 42%;
    
    justify-content: center;
    padding: 10px;
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 1050px;
    margin-right: 1800px;
 

}
.gifs{
        font-family: "Saiyan";
        font-size:22px;
        text-align: center;
        text-align: center;
        background-color: rgba(0, 155, 60, 0.7);
        border: #ff7b00 10px double;
        display: inline-flex;
        width: 42%;
       
        justify-content: center;
        padding: 10px;
        margin: 20px;
        margin-bottom: 0px;
        margin-left: 50px;
        margin-right: 30000px;
        list-style-image: url("tenor.gif");
        list-style-image: url("tenor2.gif");
        list-style-image: url("tenor3.gif");

}

.h3{

    font-family: "Saiyan";
    font-size: 60px;
    text-align: center;
    background-color: rgba(0, 155, 60, 0.7);
    border: #ff7b00 10px double;
    display: inline-flex;
    width: 42%;
   
    justify-content: center;
    padding: 10px;
    margin: 20px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 30000px;
}

