body{
    color:white;
    background-image: url("goku.jpg");
}

.letra{/*Con class */
    
    }

@font-face /* Para poner estilo de lera*/
    {
       font-family: "Saiyan";
       src: url("Saiyan-Sans.ttf");
    }
    h1{
        font-family: "Saiyan";
        font-size: 50px;
  text-align: center
    }
    