body{
    background-color: black;
    text-align: center;
}
.letras{

    color: blanchedalmond;
}
.imagen{
    float: left; margin: 0px 15px 15px 100px;}

    .izq{
        color: blanchedalmond;
        text-align: left;
        margin: 0px 15px 15px 100px;
    }

