body{
    background-color: black;
   text-align: center;
}
.letras{

    color: blanchedalmond;
}
.imagen{
    float: left; margin: 0px 15px 15px 100px;}

    .izq{
        color: blanchedalmond;
        
        margin: 10px 0px 0px 100px;
    }
    .izqq{
        color: blanchedalmond;
        
        margin: -20px 0px 0px -1000px;
    }
   .der{
    background-color: #7a4caf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   }
